body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
  overflow-y: hidden;
}

header {
  background-color: #343a40;
  border-bottom: 1px solid white;
}

.sidebar {
  height: 100vh;
  background-color: #007bff;
  padding-top: 20px;
  color: white;
}

.sidebar .nav-link {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.sidebar .nav-link:hover {
  background-color: #0056b3;
  border-radius: 10px;
}

.main-content {
  background-color: #fff;
}

.card {
  border: none;
}

.card-title {
  font-size: 1.25rem;
  color: #333;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.btn-warning {
  background-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
}

.allBlogs{
  height: 500px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile{
 display: flex;
 gap: 10px;
 align-items: center;
}
